In [1]:
import math
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
tags = pd.read_csv("../input/Tags_Filtered.csv", encoding='latin1')
#answers=pd.read_csv("Answers_Filtered.csv", encoding="latin1")
questions = pd.read_csv("../input/Questions_Filtered.csv",encoding="latin1")

## Evaluating a user based on their Questions

In [12]:
users = pd.DataFrame(np.zeros((len(questions['OwnerUserId'].unique()), len(tags['Tag'].unique()))),index=questions['OwnerUserId'].unique(), columns=tags['Tag'].unique())
user_questions = pd.DataFrame(np.zeros((len(questions['OwnerUserId'].unique()), len(tags['Tag'].unique()))),index=questions['OwnerUserId'].unique(), columns=tags['Tag'].unique())
users.head(2)

,flex,actionscript-3,svn,sql,asp.net,algorithm,colors,c#,.net,c++,...,angularjs-directive,docker,apache-spark,visual-studio-2013,reactjs,laravel-5,spring-boot,visual-studio-2015,angular2,ionic-framework
26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
questions.head(1).set_index('Id').join(tags.set_index('Id'))

,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body,Tag
Id,,,,,,,
80,26.0,2008-08-01T13:57:07Z,NaN,26,sqlstatement execute multiple queries one stat...,written database generation script sql want ex...,flex
80,26.0,2008-08-01T13:57:07Z,NaN,26,sqlstatement execute multiple queries one stat...,written database generation script sql want ex...,actionscript-3

In [ ]:
for index, row in questions.iterrows():
    if index % 124_000 == 0:
        print(index / 12_400, '%')
    if row['Score'] < 0:
        continue
    temp_rows=tags[tags['Id'] == row['Id']]
    for index1,rows1 in temp_rows.iterrows():
        user_questions.at[row['OwnerUserId'],rows1['Tag']] += 1
        users.at[row['OwnerUserId'],rows1['Tag']] += max(row['Score'],1)

In [35]:
users.head(1).loc[:,['.net','actionscript-3', 'angularjs', 'asp.net', 'c#', 'cookies','css', 'date', 'flash', 'flex', 'generics','html', 'javascript', 'session', 'sqlite', 'tsql',  'vb.net', 'web-services', 'xml']]

,.net,actionscript-3,angularjs,asp.net,c#,cookies,css,date,flash,flex,generics,html,javascript,session,sqlite,tsql,vb.net,web-services,xml
26.0,6.0,26.0,2.0,4.0,18.0,6.0,10.0,1.0,1.0,30.0,2.0,10.0,4.0,6.0,1.0,1.0,1.0,4.0,4.0

In [20]:
user_questions.head(3)

,flex,actionscript-3,svn,sql,asp.net,algorithm,colors,c#,.net,c++,...,angularjs-directive,docker,apache-spark,visual-studio-2013,reactjs,laravel-5,spring-boot,visual-studio-2015,angular2,ionic-framework
26.0,3.0,1.0,0.0,0.0,4.0,0.0,0.0,3.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
83.0,0.0,0.0,0.0,1.0,4.0,0.0,0.0,1.0,9.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
del questions
del tags

In [ ]:
users.to_csv("../profiles/questions_scores.csv",encoding="latin1")
user_questions.to_csv("../profiles/questions_question_count.csv",encoding="latin1")

In [29]:
users = pd.read_csv("../profiles/users_question_scores.csv",encoding="latin1",index_col=0)
user_questions = pd.read_csv("../profiles/users_question_count.csv",encoding="latin1",index_col=0)

In [31]:
user_questions = user_questions.div(user_questions.sum(axis=1), axis=0)
user_questions.head(1).loc[:,['.net','actionscript-3', 'angularjs', 'asp.net', 'c#', 'cookies','css', 'date', 'flash', 'flex', 'generics','html', 'javascript', 'session', 'sqlite', 'tsql',  'vb.net', 'web-services', 'xml']]

,.net,actionscript-3,angularjs,asp.net,c#,cookies,css,date,flash,flex,generics,html,javascript,session,sqlite,tsql,vb.net,web-services,xml
26.0,0.038462,0.038462,0.038462,0.153846,0.115385,0.038462,0.038462,0.038462,0.038462,0.115385,0.038462,0.038462,0.038462,0.038462,0.038462,0.038462,0.038462,0.038462,0.038462

In [32]:
user_questions.head(1).sum(axis=1)

26.0    1.0
dtype: float64

In [33]:
user_infromation = user_questions.multiply(users)

In [34]:
user_infromation.head(1).loc[:,['.net','actionscript-3', 'angularjs', 'asp.net', 'c#', 'cookies','css', 'date', 'flash', 'flex', 'generics','html', 'javascript', 'session', 'sqlite', 'tsql',  'vb.net', 'web-services', 'xml']]

,.net,actionscript-3,angularjs,asp.net,c#,cookies,css,date,flash,flex,generics,html,javascript,session,sqlite,tsql,vb.net,web-services,xml
26.0,0.230769,1.0,0.076923,0.615385,2.076923,0.230769,0.384615,0.038462,0.038462,3.461538,0.076923,0.384615,0.153846,0.230769,0.038462,0.038462,0.038462,0.153846,0.153846

In [36]:
user_infromation.to_csv("../profiles/users_weighted_normalized_profiles.csv",encoding="latin1")

In [39]:
print (len(users), len(user_questions), len(user_infromation))
print (len(users.loc[1,:]), len(user_questions.loc[1,:]), len(user_infromation.loc[1,:]))

630910 630910 630910
410 410 410