In [1]:
import math
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
tags = pd.read_csv("../input/Tags_Filtered.csv", encoding='latin1')
#answers=pd.read_csv("Answers_Filtered.csv", encoding="latin1")
questions = pd.read_csv("../input/Questions_Filtered.csv",encoding="latin1")

## Evaluating a user based on their Questions

In [33]:
user_scores = pd.DataFrame(np.zeros((len(questions['OwnerUserId'].unique()), len(tags['Tag'].unique()))),index=questions['OwnerUserId'].unique(), columns=tags['Tag'].unique())
user_questions = pd.DataFrame(np.zeros((len(questions['OwnerUserId'].unique()), len(tags['Tag'].unique()))),index=questions['OwnerUserId'].unique(), columns=tags['Tag'].unique())
user_scores.index.name = 'Id'
user_questions.index.name = 'Id'
user_scores.head(2)

,flex,actionscript-3,svn,sql,asp.net,algorithm,colors,c#,.net,c++,...,meteor,laravel,firebase,parse.com,typescript,docker,apache-spark,reactjs,spring-boot,ionic-framework
Id,,,,,,,,,,,,,,,,,,,,,
26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
questions.head(1).set_index('Id').join(tags.set_index('Id'))

,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body,Tag
Id,,,,,,,
80,26.0,2008-08-01T13:57:07Z,NaN,26,sqlstatement execute multiple queries one stat...,written database generation script sql want ex...,flex
80,26.0,2008-08-01T13:57:07Z,NaN,26,sqlstatement execute multiple queries one stat...,written database generation script sql want ex...,actionscript-3

In [35]:
print(len(user_scores.index.unique()),len(user_questions.index.unique()), len(questions['OwnerUserId'].unique()))

592057 592057 592057

In [38]:
print(len(tags[tags['Id'].isin(questions['Id'])]), len(tags))

2414518 2414518

In [39]:
len(questions)

1173725

In [40]:
len(questions[questions['Score'] == 0])

546681

In [ ]:
for question_index, question in questions.iterrows():
    if question_index % 11_737 == 0:
        print(question_index / 11_737, '%')
    if question['Score'] < 0:
        continue
    question_tags = tags[tags['Id'] == question['Id']]
    for tag_index,tag in question_tags.iterrows():
        user_questions.at[question['OwnerUserId'],tag['Tag']] += 1
        user_scores.at[question['OwnerUserId'],tag['Tag']] += max(question['Score'],1)

0.0 %
1.0 %
2.0 %
3.0 %
4.0 %
5.0 %
6.0 %
7.0 %
8.0 %
9.0 %
10.0 %
11.0 %
12.0 %
13.0 %
14.0 %
15.0 %
16.0 %
17.0 %
18.0 %
19.0 %
20.0 %
21.0 %
22.0 %
23.0 %
24.0 %
25.0 %
26.0 %
27.0 %
28.0 %
29.0 %
30.0 %
31.0 %
32.0 %
33.0 %
34.0 %
35.0 %
36.0 %
37.0 %
38.0 %
39.0 %
40.0 %
41.0 %
42.0 %
43.0 %
44.0 %
45.0 %
46.0 %
47.0 %
48.0 %
49.0 %
50.0 %
51.0 %
52.0 %
53.0 %
54.0 %
55.0 %
56.0 %
57.0 %

In [9]:
users.head(1).loc[:,['.net','actionscript-3', 'angularjs', 'asp.net', 'c#', 'cookies','css', 'date', 'flash', 'flex', 'generics','html', 'javascript', 'session', 'sqlite', 'tsql',  'vb.net', 'web-services', 'xml']]

,.net,actionscript-3,angularjs,asp.net,c#,cookies,css,date,flash,flex,generics,html,javascript,session,sqlite,tsql,vb.net,web-services,xml
26.0,6.0,52.0,2.0,4.0,18.0,6.0,10.0,2.0,1.0,59.0,2.0,10.0,4.0,6.0,2.0,2.0,1.0,8.0,8.0

In [10]:
user_questions.head(3)

,flex,actionscript-3,svn,sql,asp.net,algorithm,colors,c#,.net,c++,...,meteor,laravel,firebase,parse.com,typescript,docker,apache-spark,reactjs,spring-boot,ionic-framework
26.0,5.0,2.0,0.0,0.0,4.0,0.0,0.0,3.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
83.0,0.0,0.0,0.0,2.0,8.0,0.0,0.0,1.0,10.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
del questions
del tags

In [11]:
users.to_csv("../profiles/questions_scores.csv",encoding="latin1")
user_questions.to_csv("../profiles/questions_question_count.csv",encoding="latin1")

In [2]:
users = pd.read_csv("../profiles/questions_scores.csv",encoding="latin1",index_col=0)
user_questions = pd.read_csv("../profiles/users_question_count.csv",encoding="latin1",index_col=0)
users.index.name = 'Id'
user_questions.index.name = 'Id'

In [3]:
user_questions = user_questions.div(user_questions.sum(axis=1), axis=0)
user_questions.head(1).loc[:,['.net','actionscript-3', 'angularjs', 'asp.net', 'c#', 'cookies','css', 'date', 'flash', 'flex', 'generics','html', 'javascript', 'session', 'sqlite', 'tsql',  'vb.net', 'web-services', 'xml']]

,.net,actionscript-3,angularjs,asp.net,c#,cookies,css,date,flash,flex,generics,html,javascript,session,sqlite,tsql,vb.net,web-services,xml
26.0,0.038462,0.038462,0.038462,0.153846,0.115385,0.038462,0.038462,0.038462,0.038462,0.115385,0.038462,0.038462,0.038462,0.038462,0.038462,0.038462,0.038462,0.038462,0.038462

In [4]:
user_questions.head(1).sum(axis=1)

26.0    1.0
dtype: float64

In [5]:
user_information = user_questions.multiply(users)

In [7]:
user_information.head(1).loc[:,['.net','actionscript-3', 'angularjs', 'asp.net', 'c#', 'cookies','css', 'date', 'flash', 'flex', 'generics','html', 'javascript', 'session', 'sqlite', 'tsql',  'vb.net', 'web-services', 'xml']]

,.net,actionscript-3,angularjs,asp.net,c#,cookies,css,date,flash,flex,generics,html,javascript,session,sqlite,tsql,vb.net,web-services,xml
1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0

In [ ]:
user_infromation.to_csv("../profiles/users_weighted_normalized_profiles.csv",encoding="latin1")

In [ ]:
print (len(users), len(user_questions), len(user_infromation))
print (len(users.loc[1,:]), len(user_questions.loc[1,:]), len(user_infromation.loc[1,:]))

In [16]:
users.head().loc[:,['.net','actionscript-3', 'angularjs', 'asp.net', 'c#', 'cookies','css', 'date', 'flash', 'flex', 'generics','html', 'javascript', 'session', 'sqlite', 'tsql',  'vb.net', 'web-services', 'xml']]

,.net,actionscript-3,angularjs,asp.net,c#,cookies,css,date,flash,flex,generics,html,javascript,session,sqlite,tsql,vb.net,web-services,xml
Id,,,,,,,,,,,,,,,,,,,
26.0,6.0,52.0,2.0,4.0,18.0,6.0,10.0,2.0,1.0,59.0,2.0,10.0,4.0,6.0,2.0,2.0,1.0,8.0,8.0
58.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
83.0,90.0,0.0,0.0,87.0,6.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,1.0,44.0,0.0,0.0
2089740.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
91.0,337.0,0.0,0.0,35.0,225.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,85.0,0.0,0.0,1.0

In [17]:
user_questions.head().loc[:,['.net','actionscript-3', 'angularjs', 'asp.net', 'c#', 'cookies','css', 'date', 'flash', 'flex', 'generics','html', 'javascript', 'session', 'sqlite', 'tsql',  'vb.net', 'web-services', 'xml']]

,.net,actionscript-3,angularjs,asp.net,c#,cookies,css,date,flash,flex,generics,html,javascript,session,sqlite,tsql,vb.net,web-services,xml
Id,,,,,,,,,,,,,,,,,,,
26.0,0.038462,0.038462,0.038462,0.153846,0.115385,0.038462,0.038462,0.038462,0.038462,0.115385,0.038462,0.038462,0.038462,0.038462,0.038462,0.038462,0.038462,0.038462,0.038462
58.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
83.0,0.180000,0.000000,0.000000,0.080000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.020000,0.000000,0.020000,0.000000,0.000000,0.020000,0.060000,0.000000,0.000000
2089740.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
91.0,0.289855,0.000000,0.000000,0.043478,0.130435,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.028986,0.000000,0.000000,0.014493,0.000000,0.000000,0.014493

In [29]:
set(user_questions.index.tolist()) - set(users.index.tolist())

{nan,
 4325379.0,
 2097158.0,
 1048586.0,
 6160394.0,
 1966094.0,
 6553617.0,
 1179667.0,
 1048596.0,
 3276821.0,
 1179686.0,
 262190.0,
 1703989.0,
 3145786.0,
 2359355.0,
 3145792.0,
 3670081.0,
 3276870.0,
 5636167.0,
 4849734.0,
 73.0,
 3145801.0,
 131145.0,
 262221.0,
 78.0,
 6815821.0,
 655437.0,
 5505106.0,
 3932243.0,
 786516.0,
 3145815.0,
 1835096.0,
 6553692.0,
 1704030.0,
 524384.0,
 1179747.0,
 1048679.0,
 2490474.0,
 2752630.0,
 5374071.0,
 786550.0,
 655482.0,
 3014779.0,
 5898367.0,
 524416.0,
 524424.0,
 524426.0,
 262290.0,
 2621588.0,
 155.0,
 524444.0,
 157.0,
 4456605.0,
 2228384.0,
 4587681.0,
 2621602.0,
 917669.0,
 6422700.0,
 3801272.0,
 1441980.0,
 3801280.0,
 2359494.0,
 4063435.0,
 2490573.0,
 207.0,
 262355.0,
 5112020.0,
 4587734.0,
 2621656.0,
 524507.0,
 2228444.0,
 524514.0,
 524519.0,
 5636332.0,
 4194542.0,
 1179887.0,
 2490609.0,
 3932408.0,
 2621693.0,
 1966333.0,
 5243139.0,
 2359557.0,
 2228487.0,
 1310984.0,
 6160650.0,
 2097428.0,
 279.0,
 262425.0,
 5374234.0,
 1835294.0,
 6816032.0,
 4718885.0,
 2359591.0,
 5898538.0,
 299.0,
 2883885.0,
 393521.0,
 1048882.0,
 4587827.0,
 5898548.0,
 4325685.0,
 262458.0,
 319.0,
 5636416.0,
 3801411.0,
 324.0,
 3146052.0,
 1835332.0,
 2752847.0,
 3408218.0,
 4456794.0,
 5767517.0,
 2228575.0,
 3015007.0,
 5374305.0,
 3801443.0,
 1704297.0,
 2359659.0,
 2621805.0,
 2490737.0,
 2621815.0,
 2752888.0,
 3408249.0,
 3277178.0,
 786809.0,
 2752893.0,
 4325761.0,
 4194698.0,
 1442191.0,
 2883987.0,
 1966486.0,
 131480.0,
 1573274.0,
 1573277.0,
 1704351.0,
 1180068.0,
 6160804.0,
 5767597.0,
 4063661.0,
 917935.0,
 6291888.0,
 393649.0,
 5898677.0,
 4587961.0,
 1311164.0,
 1311165.0,
 1311166.0,
 4456906.0,
 1049036.0,
 2228684.0,
 1180110.0,
 786896.0,
 1049044.0,
 2490839.0,
 1704410.0,
 4981217.0,
 262628.0,
 488.0,
 6423021.0,
 262638.0,
 5636590.0,
 4456946.0,
 131572.0,
 262645.0,
 1049078.0,
 4194806.0,
 655862.0,
 2359801.0,
 4325888.0,
 3932674.0,
 786950.0,
 519.0,
 5636622.0,
 2097679.0,
 393747.0,
 786965.0,
 5374487.0,
 538.0,
 786974.0,
 3932705.0,
 918051.0,
 4850217.0,
 131626.0,
 524844.0,
 2228788.0,
 5636660.0,
 6947381.0,
 1966649.0,
 6292031.0,
 5243457.0,
 3932737.0,
 1835586.0,
 3015238.0,
 3801671.0,
 6423117.0,
 590.0,
 1704526.0,
 592.0,
 1442384.0,
 5505618.0,
 787022.0,
 918094.0,
 2359895.0,
 605.0,
 612.0,
 2228836.0,
 6160997.0,
 2359911.0,
 3408488.0,
 2359917.0,
 2490990.0,
 3932784.0,
 918128.0,
 5505650.0,
 1835635.0,
 1442421.0,
 6554233.0,
 2097788.0,
 1442437.0,
 4850312.0,
 6816393.0,
 1180298.0,
 2359946.0,
 1049228.0,
 656010.0,
 1049230.0,
 4981385.0,
 1049234.0,
 3801747.0,
 1442458.0,
 918170.0,
 656038.0,
 1573543.0,
 6161067.0,
 3932844.0,
 3408574.0,
 5243585.0,
 1049291.0,
 1573583.0,
 4063951.0,
 5112529.0,
 3277522.0,
 1573589.0,
 4195030.0,
 4981463.0,
 656089.0,
 1573599.0,
 1180384.0,
 2884320.0,
 656103.0,
 6816489.0,
 2097898.0,
 4326122.0,
 1573610.0,
 2228976.0,
 2622194.0,
 4588276.0,
 3277560.0,
 1049341.0,
 770.0,
 1835778.0,
 918274.0,
 3801861.0,
 3670792.0,
 6947595.0,
 394004.0,
 5243670.0,
 2229018.0,
 2884379.0,
 1704740.0,
 5636903.0,
 4326187.0,
 1442611.0,
 525112.0,
 5767992.0,
 1442621.0,
 787267.0,
 525128.0,
 844.0,
 1704787.0,
 2884436.0,
 1180501.0,
 3801941.0,
 2229079.0,
 1966937.0,
 4195164.0,
 6423390.0,
 6423394.0,
 525162.0,
 6423405.0,
 3539826.0,
 1180531.0,
 5505907.0,
 5112698.0,
 4981627.0,
 1966972.0,
 1573757.0,
 1180549.0,
 5505926.0,
 2622344.0,
 3146633.0,
 2753417.0,
 5899152.0,
 3539865.0,
 1573791.0,
 132001.0,
 5768102.0,
 947.0,
 2622389.0,
 3933111.0,
 5243835.0,
 787387.0,
 1573821.0,
 958.0,
 394175.0,
 4457409.0,
 6161348.0,
 2491336.0,
 1573832.0,
 3146700.0,
 3539921.0,
 1835991.0,
 989.0,
 3146717.0,
 3539934.0,
 394208.0,
 1049569.0,
 1442785.0,
 1573859.0,
 1311716.0,
 6292456.0,
 4719597.0,
 3933167.0,
 3671024.0,
 263159.0,
 918521.0,
 5506042.0,
 4981758.0,
 1023.0,
 2491397.0,
 4326410.0,
 5374987.0,
 1442830.0,
 1836056.0,
 5112859.0,
 132127.0,
 6685727.0,
 3671072.0,
 918562.0,
 5637157.0,
 4457511.0,
 1967145.0,
 132138.0,
 1442861.0,
 4981805.0,
 1071.0,
 2753583.0,
 2229297.0,
 2491441.0,
 6947889.0,
 918580.0,
 3671093.0,
 5506109.0,
 4588607.0,
 1049667.0,
 5506124.0,
 6554701.0,
 263246.0,
 1967185.0,
 1107.0,
 5375060.0,
 5637204.0,
 2229336.0,
 3277913.0,
 6030425.0,
 1117.0,
 1311839.0,
 394336.0,
 2884703.0,
 5375077.0,
 263277.0,
 3409007.0,
 132209.0,
 3671153.0,
 3802227.0,
 1967220.0,
 5112959.0,
 2622595.0,
 1156.0,
 1705098.0,
 3277971.0,
 2098324.0,
 3277973.0,
 1180822.0,
 787607.0,
 5768354.0,
 918693.0,
 4850857.0,
 1199.0,
 3802288.0,
 2491569.0,
 4981941.0,
 4850872.0,
 5637310.0,
 1180868.0,
 1705158.0,
 6554832.0,
 6554833.0,
 3540180.0,
 525526.0,
 787682.0,
 2360547.0,
 132327.0,
 1049833.0,
 5768425.0,
 525547.0,
 3278061.0,
 2098418.0,
 394483.0,
 5637363.0,
 6817010.0,
 6817012.0,
 2884854.0,
 3278073.0,
 5375226.0,
 4588796.0,
 1278.0,
 6292740.0,
 3540231.0,
 4588810.0,
 263436.0,
 4195598.0,
 6161679.0,
 263447.0,
 5899544.0,
 3015960.0,
 5113112.0,
 6948124.0,
 4982050.0,
 263464.0,
 4982059.0,
 1705262.0,
 2884913.0,
 1836340.0,
 2622774.0,
 394551.0,
 6686019.0,
 4064580.0,
 1349.0,
 1443142.0,
 2884935.0,
 1181001.0,
 2098512.0,
 656725.0,
 4457816.0,
 1836378.0,
 1312094.0,
 656739.0,
 6817124.0,
 132457.0,
 2098539.0,
 1967469.0,
 4982139.0,
 1181056.0,
 2229632.0,
 1049986.0,
 2885001.0,
 4195725.0,
 3802510.0,
 4851086.0,
 5506448.0,
 4195734.0,
 1312150.0,
 3147164.0,
 1443229.0,
 3278241.0,
 525730.0,
 3933603.0,
 3016097.0,
 1447.0,
 2622888.0,
 1312174.0,
 1836463.0,
 1456.0,
 3147184.0,
 6948277.0,
 4195767.0,
 6423992.0,
 6161850.0,
 6555069.0,
 132542.0,
 1836477.0,
 1443266.0,
 6686148.0,
 1050053.0,
 1574344.0,
 918992.0,
 2885078.0,
 4720087.0,
 787928.0,
 3016151.0,
 1181150.0,
 3278309.0,
 1050089.0,
 2098666.0,
 132585.0,
 1312243.0,
 5899766.0,
 1574391.0,
 4457978.0,
 2622970.0,
 2622972.0,
 1836542.0,
 787968.0,
 2229761.0,
 1312261.0,
 919049.0,
 4326922.0,
 2491914.0,
 1550.0,
 1181200.0,
 1555.0,
 5899797.0,
 394775.0,
 3671578.0,
 788002.0,
 2360868.0,
 1443364.0,
 263718.0,
 919082.0,
 394802.0,
 263733.0,
 6030907.0,
 1312316.0,
 788030.0,
 4064835.0,
 1574471.0,
 1312329.0,
 788042.0,
 919113.0,
 5899855.0,
 3016277.0,
 1624.0,
 6293080.0,
 1443417.0,
 1628.0,
 3409500.0,
 1050212.0,
 6424169.0,
 1312367.0,
 5506671.0,
 2623087.0,
 1836657.0,
 6162031.0,
 1050230.0,
 1654.0,
 6162041.0,
 3016320.0,
 2885260.0,
 2229905.0,
 4589203.0,
 3147412.0,
 1836695.0,
 2492058.0,
 3278494.0,
 1967776.0,
 1574561.0,
 2098850.0,
 394914.0,
 525988.0,
 3409575.0,
 4851372.0,
 1574582.0,
 526008.0,
 3409597.0,
 3933885.0,
 5113533.0,
 4196033.0,
 1836741.0,
 2885318.0,
 1574600.0,
 1741.0,
 6293198.0,
 3147473.0,
 132818.0,
 5637843.0,
 788182.0,
 132824.0,
 3933919.0,
 2098913.0,
 5375718.0,
 788198.0,
 1967847.0,
 5113575.0,
 4720362.0,
 3278571.0,
 2623221.0,
 132858.0,
 3278588.0,
 3540738.0,
 2623244.0,
 5768987.0,
 6293276.0,
 919325.0,
 3278622.0,
 2230047.0,
 2885408.0,
 132900.0,
 526116.0,
 1181478.0,
 5768998.0,
 1443624.0,
 3147561.0,
 5637933.0,
 2754357.0,
 788278.0,
 3934006.0,
 919353.0,
 2361146.0,
 5900093.0,
 3409726.0,
 4458307.0,
 6555467.0,
 3016523.0,
 3278669.0,
 5637969.0,
 1875.0,
 1574739.0,
 3802966.0,
 919383.0,
 1181546.0,
 3934058.0,
 3540844.0,
 3671918.0,
 2361200.0,
 4458354.0,
 2754418.0,
 5375861.0,
 2099063.0,
 1443703.0,
 2492283.0,
 2492287.0,
 919432.0,
 5769097.0,
 1181578.0,
 6686604.0,
 3409805.0,
 1968013.0,
 1181584.0,
 1705875.0,
 4065173.0,
 4720534.0,
 2099102.0,
 2099108.0,
 2885543.0,
 1836974.0,
 3803058.0,
 5375923.0,
 4720563.0,
 1050551.0,
 2230200.0,
 2361273.0,
 6031290.0,
 1980.0,
 2099133.0,
 1705916.0,
 5900220.0,
 1050560.0,
 2623424.0,
 395202.0,
 4458435.0,
 6948797.0,
 3934153.0,
 1968073.0,
 919498.0,
 6948814.0,
 2754510.0,
 5375953.0,
 4720594.0,
 1705939.0,
 4982737.0,
 2754528.0,
 5769190.0,
 3803112.0,
 1705961.0,
 6948842.0,
 5638123.0,
 657390.0,
 2754546.0,
 526327.0,
 4065276.0,
 4458493.0,
 395265.0,
 264199.0,
 2492424.0,
 919559.0,
 2885648.0,
 6293526.0,
 2074.0,
 3016734.0,
 1968171.0,
 919596.0,
 2754605.0,
 2230318.0,
 1574959.0,
 4196402.0,
 2230322.0,
 1181751.0,
 3016764.0,
 1050686.0,
 2623550.0,
 5638209.0,
 264259.0,
 6948935.0,
 1050699.0,
 4196439.0,
 6031448.0,
 395353.0,
 1443941.0,
 4196455.0,
 5769320.0,
 4458602.0,
 4720746.0,
 4196460.0,
 5376113.0,
 5507185.0,
 1837173.0,
 2361463.0,
 6948983.0,
 2170.0,
 3803261.0,
 3541125.0,
 2099338.0,
 526475.0,
 2623631.0,
 4065424.0,
 1312915.0,
 6686875.0,
 6686881.0,
 657572.0,
 2623661.0,
 2222.0,
 3541166.0,
 6949043.0,
 4327604.0,
 264373.0,
 3410113.0,
 264387.0,
 395463.0,
 2249.0,
 6686921.0,
 133324.0,
 5507286.0,
 5114072.0,
 2266.0,
 6162653.0,
 2230494.0,
 2492639.0,
 3016925.0,
 4196578.0,
 395495.0,
 3541227.0,
 4720877.0,
 4983023.0,
 919791.0,
 6031608.0,
 788738.0,
 5114122.0,
 1050905.0,
 1968415.0,
 4196640.0,
 4196648.0,
 526636.0,
 133426.0,
 3410227.0,
 3934514.0,
 3934519.0,
 3279161.0,
 395580.0,
 526653.0,
 1575231.0,
 4327749.0,
 3279174.0,
 3410245.0,
 3541320.0,
 1575237.0,
 395594.0,
 4458831.0,
 1837404.0,
 4327779.0,
 2404.0,
 5507440.0,
 3803511.0,
 2361730.0,
 5245320.0,
 6818185.0,
 1444235.0,
 5507469.0,
 133520.0,
 1706391.0,
 264600.0,
 6949275.0,
 264608.0,
 2623905.0,
 5769632.0,
 1575332.0,
 5900711.0,
 3279272.0,
 6162857.0,
 1051050.0,
 5245357.0,
 3279277.0,
 3541425.0,
 1313208.0,
 2493.0,
 1968575.0,
 5769664.0,
 6293955.0,
 133578.0,
 3803594.0,
 1182156.0,
 2492876.0,
 4983245.0,
 5507535.0,
 1444312.0,
 395737.0,
 1706458.0,
 264668.0,
 2755038.0,
 4721121.0,
 1968610.0,
 395749.0,
 6818280.0,
 4983274.0,
 4458990.0,
 4065775.0,
 5114354.0,
 1837556.0,
 395767.0,
 657920.0,
 3541508.0,
 395781.0,
 526858.0,
 2099732.0,
 264727.0,
 3541529.0,
 6294043.0,
 1313313.0,
 395815.0,
 2886186.0,
 6556203.0,
 5376556.0,
 2886188.0,
 4065838.0,
 1051185.0,
 1444402.0,
 3541554.0,
 920114.0,
 2617.0,
 3672636.0,
 4721213.0,
 2755135.0,
 5507648.0,
 395843.0,
 5769796.0,
 2886214.0,
 5638733.0,
 4590158.0,
 657999.0,
 3934807.0,
 5245529.0,
 2886236.0,
 6031974.0,
 133735.0,
 4459114.0,
 5769841.0,
 4721265.0,
 3017331.0,
 2886263.0,
 5376638.0,
 526974.0,
 1837701.0,
 1051272.0,
 3672712.0,
 5245581.0,
 658065.0,
 1575575.0,
 4590232.0,
 2493081.0,
 5245596.0,
 1444508.0,
 4852381.0,
 1968804.0,
 1051302.0,
 1182374.0,
 4065961.0,
 2732.0,
 5769906.0,
 4590265.0,
 6556346.0,
 658107.0,
 1837753.0,
 3148478.0,
 2099908.0,
 6163140.0,
 1182408.0,
 5376713.0,
 5507784.0,
 264904.0,
 1444554.0,
 6163146.0,
 6949583.0,
 658129.0,
 1575641.0,
 789209.0,
 2231003.0,
 527072.0,
 3541730.0,
 2787.0,
 4459236.0,
 1706723.0,
 4197097.0,
 4590327.0,
 5638903.0,
 1444602.0,
 2811.0,
 4721408.0,
 5376772.0,
 6163206.0,
 3279624.0,
 4852490.0,
 5114636.0,
 5245717.0,
 133912.0,
 527128.0,
 2755353.0,
 2755354.0,
 3279650.0,
 6818594.0,
 527143.0,
 3803943.0,
 2493228.0,
 1444654.0,
 920369.0,
 1837875.0,
 2493237.0,
 1444665.0,
 5901114.0,
 2886459.0,
 4721474.0,
 6949701.0,
 4459336.0,
 527176.0,
 789324.0,
 3017553.0,
 1837909.0,
 5376854.0,
 2886489.0,
 3279712.0,
 1575776.0,
 133986.0,
 2100069.0,
 3279718.0,
 1313640.0,
 3541866.0,
 2929.0,
 2755442.0,
 4328309.0,
 2755445.0,
 789371.0,
 2362241.0,
 658307.0,
 5770119.0,
 3935111.0,
 2362250.0,
 3935114.0,
 396172.0,
 3541903.0,
 1444756.0,
 1837974.0,
 5245856.0,
 1313697.0,
 396192.0,
 4983715.0,
 1969057.0,
 5114790.0,
 2231213.0,
 4852653.0,
 1051571.0,
 658358.0,
 396215.0,
 6556602.0,
 789434.0,
 134077.0,
 4197312.0,
 3148736.0,
 1706946.0,
 4852673.0,
 6163396.0,
 265157.0,
 ...}

In [28]:
len(users.index.tolist())

592057

In [ ]:
user_questions.index.tolist()